.elementor-257892 .elementor-element.elementor-element-2466ca3 > .elementor-container {
    max-width: 600px;
}

.elementor-257892 .elementor-element.elementor-element-7937d2f:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-257892 .elementor-element.elementor-element-7937d2f > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: rgba(240, 243, 255, 0.84);
}

.elementor-257892 .elementor-element.elementor-element-7937d2f > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    padding: 30px 50px 0px 50px;
}

.elementor-257892 .elementor-element.elementor-element-7937d2f > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-257892 .elementor-element.elementor-element-c27a033 .elementor-image img {
    width: 30%;
    border-radius: 500px 500px 500px 500px;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
}

.elementor-257892 .elementor-element.elementor-element-c2be2d4 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-257892 .elementor-element.elementor-element-c2be2d4.elementor-view-stacked .elementor-icon {
    background-color: #2A70ED;
}

.elementor-257892 .elementor-element.elementor-element-c2be2d4.elementor-view-framed .elementor-icon, .elementor-257892 .elementor-element.elementor-element-c2be2d4.elementor-view-default .elementor-icon {
    color: #2A70ED;
    border-color: #2A70ED;
}

.elementor-257892 .elementor-element.elementor-element-c2be2d4.elementor-view-framed .elementor-icon, .elementor-257892 .elementor-element.elementor-element-c2be2d4.elementor-view-default .elementor-icon svg {
    fill: #2A70ED;
}

.elementor-257892 .elementor-element.elementor-element-c2be2d4 .elementor-icon {
    font-size: 27px;
}

.elementor-257892 .elementor-element.elementor-element-c2be2d4 .elementor-icon i, .elementor-257892 .elementor-element.elementor-element-c2be2d4 .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-257892 .elementor-element.elementor-element-c2be2d4 > .elementor-widget-container {
    margin: -36px 0px 10px 55px;
}

.elementor-257892 .elementor-element.elementor-element-a514c4c {
    text-align: center;
}

.elementor-257892 .elementor-element.elementor-element-a514c4c .elementor-heading-title {
    color: #383E67;
    font-family: 'Cabin', sans-serif;
font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 900;
}

.elementor-257892 .elementor-element.elementor-element-ea5adb5 .elementor-text-editor {
    text-align: center;
}

.elementor-257892 .elementor-element.elementor-element-ea5adb5 {
    font-family: "Nunito", Sans-serif;
}

.elementor-257892 .elementor-element.elementor-element-b5a6252 {
    --divider-border-style: solid;
    --divider-border-color: #26AD4A;
    --divider-border-width: 1px;
}

.elementor-257892 .elementor-element.elementor-element-b5a6252 .elementor-divider-separator {
    width: 30%;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-257892 .elementor-element.elementor-element-b5a6252 .elementor-divider {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-257892 .elementor-element.elementor-element-b5a6252.elementor-view-stacked .elementor-icon {
    background-color: #26AD4A;
}

.elementor-257892 .elementor-element.elementor-element-b5a6252.elementor-view-framed .elementor-icon, .elementor-257892 .elementor-element.elementor-element-b5a6252.elementor-view-default .elementor-icon {
    color: #26AD4A;
    border-color: #26AD4A;
}

.elementor-257892 .elementor-element.elementor-element-b5a6252.elementor-view-framed .elementor-icon, .elementor-257892 .elementor-element.elementor-element-b5a6252.elementor-view-default .elementor-icon svg {
    fill: #26AD4A;
}

.elementor-257892 .elementor-element.elementor-element-b5a6252 .elementor-icon i, .elementor-257892 .elementor-element.elementor-element-b5a6252 .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-257892 .elementor-element.elementor-element-54baa23 .elementor-text-editor {
    text-align: center;
}

.elementor-257892 .elementor-element.elementor-element-54baa23 {
    font-family: "Nunito", Sans-serif;
}

.elementor-257892 .elementor-element.elementor-element-a542b98 .bdt-fancy-list .flex-wrap {
    background-color: #0098DA !important;
}

.elementor-257892 .elementor-element.elementor-element-a542b98 .bdt-fancy-list .bdt-list>li:nth-child(n+2),.elementor-257892 .elementor-element.elementor-element-a542b98 .bdt-fancy-list .bdt-list>li>ul {
    margin-top: 10px;
}

.elementor-257892 .elementor-element.elementor-element-a542b98 .bdt-fancy-list .custom-list-group li .flex-wrap {
    padding: 10px 50px 10px 10px;
    border-radius: 15px 15px 15px 15px !important;
}

.elementor-257892 .elementor-element.elementor-element-a542b98 .bdt-fancy-list .list-text .bdt-list-title {
    color: #FFFFFF;
}

.elementor-257892 .elementor-element.elementor-element-a542b98 .bdt-fancy-list .list-text .bdt-list-title {
    font-family: 'Cabin', sans-serif;
font-family: 'Open Sans', sans-serif;
    font-size: 19px;
}

.elementor-257892 .elementor-element.elementor-element-a542b98 .bdt-fancy-list .list-icon i {
    color: #242424 !important;
}

.elementor-257892 .elementor-element.elementor-element-a542b98 .bdt-fancy-list .list-icon svg * {
    fill: #242424;
    stroke: #242424;
}

.elementor-257892 .elementor-element.elementor-element-a542b98 .bdt-fancy-list .list-icon {
    background: #fff;
}

.elementor-257892 .elementor-element.elementor-element-a542b98 .bdt-fancy-list .image-area img {
    width: 50px;
    border-radius: 50px 50px 50px 50px;
}

.elementor-257892 .elementor-element.elementor-element-cd05468 .elementor-text-editor {
    text-align: center;
}

.elementor-257892 .elementor-element.elementor-element-cd05468 {
    font-family: "Nunito", Sans-serif;
}

.elementor-257892 .elementor-element.elementor-element-8b11e4e .bdt-fancy-list .flex-wrap {
    background-color: #FF9F24 !important;
}

.elementor-257892 .elementor-element.elementor-element-8b11e4e .bdt-fancy-list .bdt-list>li:nth-child(n+2),.elementor-257892 .elementor-element.elementor-element-8b11e4e .bdt-fancy-list .bdt-list>li>ul {
    margin-top: 10px;
}

.elementor-257892 .elementor-element.elementor-element-8b11e4e .bdt-fancy-list .custom-list-group li .flex-wrap {
    padding: 10px 50px 10px 10px;
    border-radius: 15px 15px 15px 15px !important;
}

.elementor-257892 .elementor-element.elementor-element-8b11e4e .bdt-fancy-list .list-text .bdt-list-title {
    color: #FFFFFF;
}

.elementor-257892 .elementor-element.elementor-element-8b11e4e .bdt-fancy-list .list-text .bdt-list-title {
    font-family: 'Cabin', sans-serif;
font-family: 'Open Sans', sans-serif;
    font-size: 19px;
}

.elementor-257892 .elementor-element.elementor-element-8b11e4e .bdt-fancy-list .list-icon i {
    color: #242424 !important;
}

.elementor-257892 .elementor-element.elementor-element-8b11e4e .bdt-fancy-list .list-icon svg * {
    fill: #242424;
    stroke: #242424;
}

.elementor-257892 .elementor-element.elementor-element-8b11e4e .bdt-fancy-list .list-icon {
    background: #fff;
}

.elementor-257892 .elementor-element.elementor-element-8b11e4e .bdt-fancy-list .image-area img {
    width: 50px;
    border-radius: 50px 50px 50px 50px;
}

.elementor-257892 .elementor-element.elementor-element-abda505 .elementor-text-editor {
    text-align: center;
}

.elementor-257892 .elementor-element.elementor-element-abda505 {
    font-family: "Nunito", Sans-serif;
}

.elementor-257892 .elementor-element.elementor-element-546ae84 .bdt-fancy-list .flex-wrap {
    background-color: #FF717B !important;
}

.elementor-257892 .elementor-element.elementor-element-546ae84 .bdt-fancy-list .bdt-list>li:nth-child(n+2),.elementor-257892 .elementor-element.elementor-element-546ae84 .bdt-fancy-list .bdt-list>li>ul {
    margin-top: 10px;
}

.elementor-257892 .elementor-element.elementor-element-546ae84 .bdt-fancy-list .custom-list-group li .flex-wrap {
    padding: 10px 50px 10px 10px;
    border-radius: 15px 15px 15px 15px !important;
}

.elementor-257892 .elementor-element.elementor-element-546ae84 .bdt-fancy-list .list-text .bdt-list-title {
    color: #FFFFFF;
}

.elementor-257892 .elementor-element.elementor-element-546ae84 .bdt-fancy-list .list-text .bdt-list-title {
    font-family: 'Cabin', sans-serif;
font-family: 'Open Sans', sans-serif;
    font-size: 19px;
}

.elementor-257892 .elementor-element.elementor-element-546ae84 .bdt-fancy-list .list-icon i {
    color: #242424 !important;
}

.elementor-257892 .elementor-element.elementor-element-546ae84 .bdt-fancy-list .list-icon svg * {
    fill: #242424;
    stroke: #242424;
}

.elementor-257892 .elementor-element.elementor-element-546ae84 .bdt-fancy-list .list-icon {
    background: #fff;
}

.elementor-257892 .elementor-element.elementor-element-546ae84 .bdt-fancy-list .image-area img {
    width: 50px;
    border-radius: 50px 50px 50px 50px;
}

.elementor-257892 .elementor-element.elementor-element-3ad9d3c .elementor-text-editor {
    text-align: center;
}

.elementor-257892 .elementor-element.elementor-element-3ad9d3c {
    font-family: "Nunito", Sans-serif;
    font-weight: 500;
}

.elementor-257892 .elementor-element.elementor-element-6994da5 .bdt-fancy-list .flex-wrap {
    background-color: #1BE3B1 !important;
}

.elementor-257892 .elementor-element.elementor-element-6994da5 .bdt-fancy-list .bdt-list>li:nth-child(n+2),.elementor-257892 .elementor-element.elementor-element-6994da5 .bdt-fancy-list .bdt-list>li>ul {
    margin-top: 10px;
}

.elementor-257892 .elementor-element.elementor-element-6994da5 .bdt-fancy-list .custom-list-group li .flex-wrap {
    padding: 10px 50px 10px 10px;
    border-radius: 15px 15px 15px 15px !important;
}

.elementor-257892 .elementor-element.elementor-element-6994da5 .bdt-fancy-list .list-text .bdt-list-title {
    color: #FFFFFF;
}

.elementor-257892 .elementor-element.elementor-element-6994da5 .bdt-fancy-list .list-text .bdt-list-title {
    font-family: 'Cabin', sans-serif;
font-family: 'Open Sans', sans-serif;
    font-size: 19px;
}

.elementor-257892 .elementor-element.elementor-element-6994da5 .bdt-fancy-list .list-icon i {
    color: #242424 !important;
}

.elementor-257892 .elementor-element.elementor-element-6994da5 .bdt-fancy-list .list-icon svg * {
    fill: #242424;
    stroke: #242424;
}

.elementor-257892 .elementor-element.elementor-element-6994da5 .bdt-fancy-list .list-icon {
    background: #fff;
}

.elementor-257892 .elementor-element.elementor-element-6994da5 .bdt-fancy-list .image-area img {
    width: 50px;
    border-radius: 50px 50px 50px 50px;
}

.elementor-257892 .elementor-element.elementor-element-4412124 .elementor-image img {
    width: 35%;
    box-shadow: 0px 0px 10px 0px #DEEDF0;
}

.elementor-257892 .elementor-element.elementor-element-4412124 > .elementor-widget-container {
    padding: 20px 0px 50px 0px;
}

.elementor-257892 .elementor-element.elementor-element-2466ca3:not(.elementor-motion-effects-element-type-background), .elementor-257892 .elementor-element.elementor-element-2466ca3 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("https://simpleweb1.cdn.vccloud.vn/wp-content/uploads/2021/07/pexels-moose-photos-1038001-scaled.jpg");
    background-size: cover;
}

.elementor-257892 .elementor-element.elementor-element-2466ca3 > .elementor-background-overlay {
    opacity: 0;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-257892 .elementor-element.elementor-element-2466ca3 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-widget .tippy-tooltip .tippy-content {
    text-align: center;
}

@media(min-width: 1025px) {
    .elementor-257892 .elementor-element.elementor-element-2466ca3:not(.elementor-motion-effects-element-type-background), .elementor-257892 .elementor-element.elementor-element-2466ca3 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
        background-attachment:fixed;
    }
}

@media(max-width: 1024px) {
    .elementor-257892 .elementor-element.elementor-element-c2be2d4 .elementor-icon {
        font-size:25px;
    }
}

@media(max-width: 767px) {
    .elementor-257892 .elementor-element.elementor-element-7937d2f > .elementor-element-populated {
        margin:0px 0px 0px 0px;
        padding: 10px 10px 0px 10px;
    }

    .elementor-257892 .elementor-element.elementor-element-c27a033 .elementor-image img {
        width: 30%;
    }

    .elementor-257892 .elementor-element.elementor-element-c2be2d4 .elementor-icon {
        font-size: 24px;
    }
}
